.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width:40px;
    border-radius: 50px;
    cursor: pointer;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 500;
    padding: 20px;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 100px;
    padding: 15px;
    margin-right: 10px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 45px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 18px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.main-bottom img:hover{
    background-color: #dfe4ea;
    border-radius: 50%;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 25px;
    cursor: pointer;
}

.search-box .img-div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.result img{
    width: 30px;
    border-radius: 50%;
}

.result .result-data{
    display: flex;
    align-items: start;
    gap: 10px;
    white-space: normal;
    overflow-wrap: anywhere;
}

.result-box2 {
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
}

.copy-btn,
.speech-btn {
  position: relative;
  display: inline-block;
}

.copy-btn img {
  border-radius: 0px;
  width: 15px;
  cursor: pointer;
}

.speech-btn img {
  width: 20px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.copy-btn:hover .tooltip,
.speech-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.loader {
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;

}

@media (max-width:600px){
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}